{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.cluster }} {{ .GroupLabels.alertname }}
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*アラート:* {{ .Labels.alertname }}
*説明:* {{ .Annotations.description }}
*重要度:* {{ .Labels.severity }}
*開始時刻:* {{ .StartsAt | since }}
{{ if .EndsAt }}*終了時刻:* {{ .EndsAt | since }}{{ end }}
{{ end }}
{{ end }} 